{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>A simple blog.</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class='page-header'>
        <h1><a href="">Little Blog Platform</a></h1>
    </div>
    <div>
		{% for post in posts %}
			<div class="content container">
			    <div class="row">
			        <div class="col-md-8">
			            {% for post in posts %}
			                <div class="post">
			                    <div class="date">
			                        {{ post.published_date }}
			                    </div>
			                    <h1><a href="">{{ post.title }}</a></h1>
			                    <p>{{ post.text|linebreaks }}</p>
			                </div>
			            {% endfor %}
			        </div>
			    </div>
			</div>
		{% endfor %}
	</div>
</body>
</html>